/*Extra Small*/
@media screen and (max-width: 576px){
    /*top_bar begin*/
    #top_bar h5{
        font-size: 12px;
    }
    .top_bar a{
        font-size: 10px;
    }
    /*top_bar end*/
    /*navbar begin*/
    .navbar-nav{
        padding-left: 0px!important;
    }
    .navbar .avenue_name{
        font-size: 15px;
    }
    #nav-link .nav-item a{
        font-size: 7.5px;
    }
    /*navbar end*/
    /*header begin*/
    #header_photo{
        height: 200px;
    }
    #header_photo h1{
        font-size: 25px;
    }
    #header_photo h2{
        font-size: 15px;
    }
    /*header end*/

    /*mycontent begin*/
    #nav-link .nav-item a{
        font-size: 7px;
    }
    /*items begin*/
    #item1{
        height: 170px;
    }
    #item2{
        height: 170px;
    }
    #item3 h2{
        font-size: 18px;
    }
    #item3 h4{
        font-size: 8px;
    }
    #item3 p{
        font-size: 7px;
    }
    #item3 button{
        width: 105px;
        height: 35px;
        font-size: 14px;
    }
    #item4{
        height: 170px;
    }
    #item5{
        height: 170px;
    }
    #item6{
        height: 170px;
    }
    #item7{
        height: 170px;
    }
    /*items end*/

    #lookbook{
        height: auto;
    }
    .men{
        height: 288px!important;
    }
    .women{
        height: 288px!important;
    }
    .your{
        height: 288px!important;
    }
    .lookbook-men-text h1{
        font-size: 35px;
    }
    .lookbook-men-text h2{
        font-size: 25px;
    }
    .lookbook-men-text p{
        font-size: 10px;
    }
    .lookbook-women{
        background-color: #f8f8f8;
    }
    .lookbook-women-text h1{
        font-size: 30px;
    }
    .lookbook-women-text h2{
        font-size: 28px;
    }
    .lookbook-women-text p{
        font-size: 10px;
    }
    .lookbook-your-text h1{
        font-size: 35px;
    }
    .lookbook-your-text h2{
        font-size: 25px;
    }
    .lookbook-your-text p {
        font-size: 10px;
    }
    /*mycontent end*/

    /*footer begin*/
    footer{
        margin-top: 30px;
    }
    .contact h4{
        font-size: 14px;
    }
    .contact ul li a{
        font-size: 13px;
    }
    .award_winner{
        margin-top: 20px;
    }
    .award_winner h2{
        font-size: 26px;
    }
    .award_winner h3{
        font-size: 24px;
    }
    .social{
        margin-top: 10px;
    }
    .copy{
        margin-top: 10px;
    }
    .copy_text_left{
        text-align: center;
    }

    /*footer end*/
}
/*Small*/
@media screen and (max-width: 767px) and (min-width: 576px){
    .navbar-nav{
        padding-left: 0px!important;
    }
    #header_photo{
        height: 200px;
    }
    #header_photo h1{
        font-size: 30px;
    }
    #header_photo h2{
        font-size: 20px;
    }
    #nav-link .nav-item a{
        font-size: 11px;
    }
    /*items begin*/
    #item8 h1{
        font-size: 70px!important;
    }
    #item8 h2{
        font-size: 20px!important;
    }
    #item8 h3{
        font-size: 26px;
        margin: 0!important;
    }
    #item8 h4{
        font-size: 7px!important;
    }
    /*items end*/
    .lookbook-men-text h1{
        font-size: 35px;
    }
    .lookbook-men-text h2{
        font-size: 25px;
    }
    .lookbook-women-text h1{
        font-size: 30px;
    }
    .lookbook-women-text h2{
        font-size: 28px;
    }
    .lookbook-your-text h1{
        font-size: 35px;
    }
    .lookbook-your-text h2{
        font-size: 25px;
    }
    /*footer begin*/
    .award_winner{
        margin-top: 20px;
    }
    .social{
        margin-top: 10px;
    }
    .copy{
        margin-top: 10px;
    }
    .copy h6{
        text-align: center;
    }

    /*footer end*/
}
/*Medium*/
@media screen and (max-width: 991px) and (min-width: 768px){
    .navbar-nav{
        padding-left: 0px!important;
    }
    #header_photo{
        height: 250px;
    }
    #header_photo h1{
        font-size: 32px;
    }
    #header_photo h2{
        font-size: 25px;
    }
    /*items begin*/
    #item1{
        height: 200px;
    }
    #item2{
        height: 200px;
    }
    #item4{
        height: 200px;
    }
    #item5{
        height: 200px;
    }
    #item6{
        height: 200px;
    }
    #item7{
        height: 200px;
    }
    #item8 h1{
        font-size: 96px!important;
    }
    #item8 h3{
        font-size: 35px!important;
    }
    #item8 h2{
        font-size: 27px;
    }
    #item8 h4{
        font-size: 7px;
    }
    #item8 p{
        padding-right: 10px;;
        font-size: 8px;
    }
    #item8 button{
        width: 105px;
        height: 35px;
        font-size: 14px;
    }
    #item9{
        height: 200px;
    }
    /*items end*/
    .lookbook-men-text h1{
        font-size: 35px;
    }
    .lookbook-men-text h2{
        font-size: 25px;
    }
    .lookbook-women-text h1{
        font-size: 30px;
    }
    .lookbook-women-text h2{
        font-size: 28px;
    }
    .lookbook-your-text h1{
        font-size: 35px;
    }
    .lookbook-your-text h2{
        font-size: 25px;
    }
    /*footer begin*/
    .award_winner{
        margin-top: 25px;
    }
    .social{
        margin-top: 10px;
    }
    .copy{
        margin-top: 20px;
    }
    /*footer end*/
}
/*Large*/
@media screen and (max-width: 1199px) and (min-width: 992px){
    .navbar-nav{
        padding-left: 220px!important;
    }
    .navbar-nav a{
        font-size: 9px;
    }
    #header_photo h1{
        font-size: 32px;
    }
    #header_photo h2{
        font-size: 24px;
    }
    /*footer begin*/
    .award_winner{
        margin-top: 25px;
    }
    .social{
        margin-top: 25px;
    }
    .copy{
        margin-top: 20px;
    }
    /*footer end*/

}
/*Extra Large*/
@media screen (min-width: 1200px){

}

    /*Qo'shimcha media*/
    @media screen and (max-width:320px){
        header h5{
            font-size: 11px;
        }
        .top_bar a{
            font-size: 10px;
        }
        #nav-link .nav-item a{
            font-size: 6px!important;
        }
        .award_winner h2{
            font-size: 20px;
        }
        .award_winner h3{
            font-size: 20px;
        }
        .contact h4{
            font-size: 12px;
        }
        .contact ul li a{
            font-size: 11px;
        }
        #header_photo h1{
            font-size: 20px;
        }
        #header_photo h2{
            font-size: 14px;
        }
        .lookbook-men-text h1{
            font-size: 28px;
        }
        .lookbook-men-text h2{
            font-size: 25px;
        }
        .lookbook-women-text h1{
            font-size: 28px;
        }
        .lookbook-women-text h2{
            font-size: 25px;
        }
        .lookbook-your-text h1{
            font-size: 28px;
        }
        .lookbook-your-text h2{
            font-size: 25px;
        }
    }
    @media screen and (max-width:280px){
        #top_bar h5{
            font-size: 10px;
        }
        #nav-link .nav-item a{
            font-size: 5px!important;
        }
        #nav-link .container{
            margin-top: 30px;
        }
        #header_photo{
            height: 170px;
        }
        #header_photo h1{
            font-size: 20px;
        }
        #header_photo h2{
            font-size: 12px;
        }
        /*item begin*/
        #item3 h2{
            font-size: 14px;
        }
        #item3 h4{
            font-size: 7px;
        }
        #item3 p{
            font-size: 7px;
            padding-right: 90px!important;
        }
        #item3 button{
            width: 70px;
            height: 30px;
            font-size: 10px;
        }
        /*item end*/
        .lookbook-men-text h1{
            font-size: 28px;
        }
        .lookbook-men-text h2{
            font-size: 25px;
        }
        .lookbook-women-text h1{
            font-size: 28px;
        }
        .lookbook-women-text h2{
            font-size: 25px;
        }
        .lookbook-your-text h1{
            font-size: 28px;
        }
        .lookbook-your-text h2{
            font-size: 25px;
        }
        .lookbook-men-text button{
            font-size: 12px;
        }
        .lookbook-women-text button{
            font-size: 12px;
        }
        .lookbook-your-text button{
            font-size: 12px;
        }
        .contact h4{
            font-size: 10px;
        }
        .contact ul li a{
            font-size: 10px;
        }
    }